{% extends 'base.html' %}

{% block js_includes %}
<script type="text/javascript" src="/media/bbcode-parser.js"></script>
<script type="text/javascript" src="/media/console.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
    var command_console = new Console();
</script>

<div id="main-content">
    {{ intro_text|safe }}
    Current login: {% now "D M j G:i:s O" %} on ttys001
</div>
<div id="console-input">
    {{ hostname|safe }}<input type="text" maxlength="250" value="" name="console-input" />
</div>
{% endblock %}
